.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  background: linear-gradient(145deg, #e6e9e6, #c2c4c2);
  box-shadow: 6px 6px 12px #bfc2bf, -6px -6px 12px #eff2ef;
  width: 450px;
  height: 300px;
  animation: slideIn 1s ease-out forwards;
}

.containerOut {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  background: linear-gradient(145deg, #e6e9e6, #c2c4c2);
  box-shadow: 6px 6px 12px #bfc2bf, -6px -6px 12px #eff2ef;
  width: 450px;
  height: 300px;
  animation: slideOut 1s ease-out forwards;
}

.password {
  all: unset;
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  background: #d7dad7;
  box-shadow: inset 22px 22px 44px #bfc2bf, inset -22px -22px 44px #eff2ef;
  border: 1px solid #d5430900;
}

.passwordContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.clue {
  max-width: 200px;
  height: 90%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.251);
}

@keyframes slideIn {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100vw);
    opacity: 0;
  }
}

.error {
  position: relative;
  animation: error 1s ease-in-out;
}

@keyframes error {
  0% {
    background: #ffe5d1;
    border-color: #d50909;
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-4deg) scale(1.2);
  }
  50% {
    transform: rotate(4deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    background: transparent;
    border-color: #d5430900;
    transform: scale(1);
  }
}
